body {
    font-family: Arial;
    margin: 0;
    background-color:gray;
}

.navbar {
    background-color: #131921;
    color: white;
    padding: 15px;
    font-size: 22px;
    box-shadow: 0px 0px 5px white;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px;
}

.card {
    background: whitesmoke;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 6px white;
}

button {
    background-color: #ff9900;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}

#cart {
    background: whitesmoke;
    padding: 1px;
    width: 120px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px white;
    margin: 30px;
    font-size: 18px;
}